.top_left_port {
  left: 0%;
  position: fixed;
  margin: 8px;
  top: 100px;
  width: 400px;
  height: 250px;
  background-color: rgba(35, 194, 25, 0.29);
  border: 1px solid black;}

.top_left_port_content {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  height: 100%;
}