.search_bar_render {
  left: 50%;
  width: 210px;
}

.search_bar_render_content {
  margin-top: 30px;
  margin-left: 22px;
  margin-right: 5px;
  height: 100%;
}

.search_bar_render_content p {
	font-size: 110%;
}

.search_bar_render_content input {
	width: 150px;
}

#title {
	font-size: 160%;
	color: green;
}