.searchbar_middle_top {
  /*position: fixed;*/
  left: 50%;
  margin: auto;
  margin-top: 60px;
  width: 360px;
  height: 240px;
  background-color: rgba(35, 194, 25, 0.29);
  border: 1px solid black;
  overflow-x: auto;
  overflow-y: scroll;
}

.searchbar_middle_top_content {
  margin-top: 25px;
  margin-left: 22px;
  margin-right: 15px;
  height: 100%;

}

#render_search #symbol span {
  text-decoration: underline;
  color: #ca7c08;
  font-size: 120%;
}

#title_list {
  margin-top: 13px;
  font-size: 190%;
  color: rgb(6, 114, 14);
  margin-bottom: -10px;
}

#loading {
  border: 1px solid grey;
  padding: 1px;
  width: 100px;
  text-align: center;
  border-radius: 6px;
}

#form_to_delete {
  float: right;
  margin-right: 25px;
  margin-top: -15px;
}

#form_to_delete_button {
  float: right;
}

#delete_from_list {
  font-size: 90%;
  margin-bottom: 40px;
}